@import "vars"
    
@media screen and (max-width: 1280px)

    .mainHeader
        padding: 0 2rem
    
    .cover
        padding: 3rem
        &__image
            display: none
        &__content
            border: none
            float: unset
            margin: auto

@media screen and (max-width: 992px)
    html
        font-size: 15px

    .mainHeader
        &__logo
            display: none

    .headerMenu
        position: relative
        z-index: 1
        &__list
            position: absolute
            display: none
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start !important
            padding: 4rem 3rem 2rem 3rem
            margin: 0
            right: 0
            z-index: -1
            background-color: #fff
            box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15)
            max-width: 300px
        &__item
            font-size: 1.125rem
            padding: 10px 0
            text-align: left
        &__mobile  
            display: flex
            flex: 1
        &__item-corner
            display: block

    .info
        &__floorBg
            right: 92%

    .members
        &__floor-bg
            display: block
        &__bg
            left: 80%
        &__left-side-dots
            display: none
        &__left-side
            left: 0
        &__right-side
            max-width: fit-content
            display: block
            margin: auto
            &:before
                display: none

    .member
        width: fit-content

    .deptors
        &__dots
            top: unset
            bottom: 0
            transform: translateY(-150%) translateX(55%)
        &__right-side
            margin-top: 75px
            flex-direction: row

    .footer
        &__floorBg
            top: 45%
            left: 70%
            transform: scaleX(-1) rotate(15deg)
        &__rightSide
            flex-direction: column
        &__aboutCompany
            display: flex
            flex-direction: column
            justify-content: center
            padding: .7rem 1rem .7rem 3rem
        &__menu
            padding: 1rem 1rem 1rem 3rem
        &__navWrap
            border-right: none
        &__contacts

@media screen and (max-width: 768px)
    html
        font-size: 14px

    .arrow
        width: 35px
        &:after
            width: 35px

    .mainHeader
        padding: 0 0 .5rem 1rem
        padding-right: 0
        &__user
            flex-direction: column-reverse
            align-items: flex-end
        &__registration
            padding: .85rem 2.5rem
        &__contacts
            justify-content: space-between
            flex-direction: column
            min-height: 60px
    
    .cover
        padding: 2rem 1rem
        &__content
            padding: 1rem 3rem
        &__action
            display: none
        &__title
            letter-spacing: 1px
            font-size: 1.6rem
        &__subtitle
            font-size: 1.1rem

    .coverForm
        &__fieldset
            &--mobile
                margin-top: 1rem
                display: block
        &__input
            max-width: 140px
            margin: 0
            &:first-child
                margin-right: .5rem
        &__button
            display: none
            &--mobile
                display: block
    
    .info
        &__content
            flex-direction: column
    
    .supliers
        max-width: 90%

    .tariffs
        &__content
            flex-direction: column
        &__fieldset
            padding: 0
        &__input
            width: 90%   
    
    .deptors
        &__wrap
            padding: 0
            margin: auto
        &__table
            font-size: .750rem
            td
                padding: 5px 10px
        &__right-side
            flex-direction: column
        &__person
            margin: 70px 0 0 0
            padding: 0

@media screen and (max-width: 576px)
    html
        font-size: 13px

    .contacts__span
        white-space: nowrap

    .headerMenu
        &__list
            max-width: 100%
            left: 0
            right: 0

    .cover
        &__content
            padding: 1rem 1.5rem

    .supliers
        max-width: 100%
    
    .suplier
        padding: 1rem 0
    
    .info
        &__text
            padding-right: 0
        &__floorBg
            width: 150px
            bottom: 95%

    .shedule
        &__wrap
            padding: 0 10px
        &__person
            padding: 0 15px

    .members
        &__bg
            display: none
        &__floor-bg
            display: none
    
    .footer
        &__floorBg
            top: 67%
            left: 57%
            transform: scaleX(-1) rotate(15deg)
        flex-direction: column
        &__rightSide
            flex-direction: column
        &__aboutCompany
            display: flex
            text-align: center
            padding: 1.5rem
        &__logo
            margin: auto
        &__menu
            padding: 1.5rem
        &__navWrap
            border-right: none
        &__contacts
            padding: 1.5rem

@media screen and (max-width: 375px)

    .cover
        &__content
            display: flex
            flex-direction: column
            align-items: center

    .coverForm
        width: max-content
        &__input
            max-width: 100%
            margin: auto !important
            &:first-child
                margin-bottom: 1rem !important
        &__fieldset
            display: flex
            align-items: center
            justify-content: center
            white-space: normal

    .members
        &__left-side
            left: -20px
            right: -20px
        &__left-side-wrap
            min-height: 300px

// Min width

@media screen and (min-width: 1680px)

    .cover
        &__content
            float: unset
            margin: auto

@media screen and (min-width: 576px)

    .latestPhotos
        &__slides
            display: block
        &__controls
            opacity: 1
        &__mobile
            display: none